# DockerHub
DOCKERHUB_USERNAME=tu_usuario_dockerhub
IMAGE_TAG=latest

# RabbitMQ
RABBITMQ_USERNAME=admin
RABBITMQ_PASSWORD=admin123

# Azure B2C
AZURE_B2C_ISSUER_URI=
AZURE_B2C_JWK_SET_URI=
AZURE_B2C_AUDIENCE=coloca_aqui_el_aud_del_access_token